.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;


  &-page_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
  }

  &-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 60px);
    overflow: hidden;
  }

}

.chat-view-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.select-chat-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 20px;
  color: var(--black-gray);
}

.chat-view-container .messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}


.sidebar {
  flex-shrink: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
}